@use "./mixins.scss" as m;

// Общий сброс стилей
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: var(--base-background-color);

  &.body_stop-scrolling {
    @include m.respond(tablet) {
      height: 100%;
      overflow: hidden;
    }
  }
}

// Стиль хэдера
.main-header {
  padding: 28px 100px;
  position: relative;
  background-color: var(--base-background-color);
  z-index: 20;

  @include m.respond(phone) {
    padding: 20px 15px;
  }
  @include m.respond(ipad) {
    padding: 28px 38px;
  }

  &__content {
    max-width: var(--content-max-width);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
}

// Бургер меню
.navbar {
  display: flex;
  align-items: center;
  width: calc(1060 / 1720 * 100%);
  height: 60px;

  @include m.respond(small-mid-desktop) {
    width: 75%;
  }
  @include m.respond(max-phone) {
    width: 100%;
  }

  &__toggle {
    visibility: hidden;
    pointer-events: none;
    width: 0;
    transition: transform 0.5s ease;

    &:hover {
      transform: rotate(90deg);
    }

    &:active {
      transform: rotate(180deg);
    }

    @include m.respond(tablet) {
      visibility: visible;
      width: fit-content;
      cursor: pointer;
      pointer-events: all;
      width: 37px;
      height: 31px;

      &:hover::before,
      &:active::before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(#131313, 0.2);
      }

      &:active::before {
        background-color: rgba(#131313, 0.4);
      }
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 60px;
    margin-right: auto;

    @include m.respond(tablet) {
      margin: 0 auto;
    }
    @include m.respond(phone) {
      margin: 0 0 0 auto;
    }
  }

  &__logo-img,
  &__logo-text {
    @include m.respond(desktop) {
      width: 55px;
    }
    @include m.respond(ipad) {
      width: 57.89px;
      height: 60px;
    }
    @include m.respond(max-phone) {
      position: relative;
      // bottom: 4px;
    }
  }
  &__logo-text {
    @include m.respond(ipad) {
      width: 90.36px;
      height: 24.48px;
    }
  }
}

// Логотип
.navbar__logo {
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.95);
  }
  @include m.respond(mid-desktop) {
    margin-right: 20px;
  }
}

// Стили навигации
.navigation {
  list-style: none;
  display: flex;
  gap: 8px;
  justify-content: space-between;

  @include m.respond(tablet) {
    flex-direction: column;
    width: fit-content;
    gap: 15px;
  }

  &__wrapper-background {
    height: 0;
    transition: background-color 0.3s ease;

    &_open {
      background-color: rgba(#565656, 0.4);
      @include m.respond(tablet) {
        min-height: 100vh;
        width: 100vw;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: rgba(#565656, 0.4);
        z-index: 10;
      }
    }
  }

  &__wrapper {
    width: calc(828 / 1060 * 100%);
    transition: scale 1s ease-in-out;

    @include m.respond(tablet) {
      background-color: var(--base-background-color);
      position: absolute;
      top: 100%;
      overflow: hidden;
      left: 0;
      width: calc(100% - 98px);
      min-height: 0;
      padding: 0 49px;
      max-height: 0;
      transition: all 0.3s ease-out;
      pointer-events: none;
      z-index: 20;

      @include m.respond(phone) {
        width: calc(100% - 36px);
        padding: 0 18px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }

    &_open {
      @include m.respond(tablet) {
        padding: 59px 49px;
        min-height: 796px;
        max-height: 796px;
        pointer-events: all;
      }

      @include m.respond(phone) {
        padding: 0 18px 21px 18px;
        min-height: 498px;
        max-height: 498px;
        pointer-events: all;
      }
    }
  }

  &__link {
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Montserrat Bold";
    color: var(--white-color);
    line-height: 21px;
    display: inline-block;
    width: 100%;

    @include m.respond(desktop) {
      font-size: 11px;
    }
    @include m.respond(mid-desktop) {
      font-size: 11px;
    }
    @include m.respond(tablet) {
      font-size: 36px;
      line-height: 54px;
      color: var(--base-background-color);
      -webkit-text-stroke: 1px var(--grey-1-color);

      &:hover {
        color: var(--grey-1-color);
      }
      &:active {
        color: var(--grey-color);
        -webkit-text-stroke: 1px var(--grey-color);
      }
    }

    @include m.respond(phone) {
      font-size: 20px;
      line-height: 30px;
    }
  }
}

// Стили контактов
.nav-menu-buttons {
  display: none;

  @include m.respond(phone) {
    display: block;
  }
}

.contacts {
  &__container {
    display: flex;
    gap: 12.5px;
    align-items: center;

    @include m.respond(tablet) {
      gap: 0;
    }
    @include m.respond(phone) {
      display: none;
    }
    @include m.respond(desktop) {
      gap: 30.5px;
    }
  }

  &__call-wrapper,
  &__request-wrapper {
    &.button__wrapper {
      @include m.respond(desktop) {
        width: 180px;
        @include m.respond(phone) {
          width: 330px;
        }
      }
      @include m.respond(ipad) {
        width: 92.5px;
        height: 60px;
        @include m.respond(phone) {
          width: 330px;
        }
      }
    }
  }

  &__request-wrapper.button__wrapper {
    @include m.respond(max-phone) {
      width: 180px;
    }
    @include m.respond(small-mid-desktop) {
      width: 250px;
    }
    @include m.respond(ipad) {
      width: 201.5px;
    }
    @include m.respond(tablet) {
      width: 201px;
    }
    @include m.respond(desktop) {
      width: 180px;
      height: 60px;
    }
    @include m.respond(phone) {
      width: 330px;
    }
  }
}

// Стили кнопок
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 18.5px);
  height: 100%;
  background-color: var(--gold-color);
  color: var(--white-color);
  outline: none;
  border: none;
  font-family: "Montserrat Bold";
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  transform: skew(-17.13deg);
  transform-origin: bottom right;
  cursor: pointer;
  box-sizing: border-box;
  transition: background-color 0.3s ease, transform 0.2s ease;

  &:hover {
    transform: scale(1.05);
    transform-origin: 0;
  }

  &:active {
    background-color: var(--gold-color), 10%;
    transform: scale(0.95);
  }

  &_grey {
    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.8;
    }
  }

  &:disabled {
    cursor: not-allowed;
    background-color: var(--grey-1-color);
    opacity: 0.6;
  }

  &__text {
    transform: skew(17.13deg);
  }

  &_grey {
    background-color: var(--base-background-color);
    border: 1px solid var(--white-color);
    opacity: 0.45;

    img {
      transform: skew(17.13deg);
    }
  }

  &__wrapper {
    width: 293px;
    height: 60px;

    &_menu {
      width: calc(100% - 18.5px);
    }

    @include m.respond(tablet) {
      height: 46px;
    }
  }

  &_with-border {
    box-shadow: inset -5.5px 0 0 0 var(--white-color),
      inset -10.5px 0 0 0 var(--base-background-color);
  }
}

// Background стили
.space-section {
  aspect-ratio: 1920 / 959.07;
  background: no-repeat center url("../contents/space.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @include m.respond(ipad) {
    aspect-ratio: 765 / 907;
    background: no-repeat center cover url("../contents/space-tab.jpg");
  }

  @include m.respond(phone) {
    aspect-ratio: 360 / 495;
    background: no-repeat center cover url("../contents/space-tab.jpg");
  }

  &__content-wrapper {
    background: linear-gradient(#13131300, #131313);
    height: calc(13 / 24 * 100%);
    padding: 0 100px 96px;

    @include m.respond(ipad) {
      padding: 0 49px 76px;
    }
    @include m.respond(phone) {
      padding: 0 15px 52.31px;
    }
  }

  &__content {
    max-width: var(--content-max-width);
    margin: 0 auto;
    height: 100%;
    padding-bottom: 96px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 40px;
    color: var(--white-color);

    @include m.respond(ipad) {
      padding-bottom: 76px;
    }
    @include m.respond(phone) {
      padding-bottom: 52.31px;
    }
  }

  &__header {
    max-width: 686px;
    @include m.section-header;
  }

  &__text {
    color: rgba(#ffffff, 0.79);
    font-size: 16px;

    @include m.respond(ipad) {
      max-width: 450px;
    }
    @include m.respond(phone) {
      font-size: 14px;
      line-height: 21px;
      max-width: 293px;
    }
  }

  &__request-wrapper.button__wrapper {
    @include m.respond(phone) {
      width: 228px;
      height: 46.69px;
    }
  }
}

// Стиль выбора карточек
.cards-section {
  padding: 134px 100px 256px;

  @include m.respond(tablet) {
    padding: 44px 49px 156px;
  }

  @include m.respond(max-phone) {
    padding-bottom: 100px;
  }

  @include m.respond(phone) {
    padding: 30px 15px 43px;
  }

  &__content {
    max-width: var(--content-max-width);
    margin: 0 auto;
  }

  &__header {
    margin-bottom: 53px;
    @include m.section-header;

    @include m.respond(ipad) {
      margin-bottom: 40px;
    }
    @include m.respond(phone) {
      margin-bottom: 30px;
    }
  }

  &__cards-container {
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    align-items: stretch;

    @include m.respond(ipad) {
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
      grid-gap: 20px;
    }
  }

  &__load-wrapper.button__wrapper {
    margin: 0 auto;

    @include m.respond(phone) {
      width: 295px;
    }
  }
}

// Стиль карточек
.card {
  color: var(--grey-color);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  &:active {
    transform: translateY(0);
  }

  &__image {
    display: block;
    width: calc(100% + 1px);
  }

  &__content {
    background-color: var(--white-color);
    padding: 25px 24px 30px 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__header,
  &__subtitle {
    color: var(--black-1-color);
  }

  &__header {
    font-size: 14px;
    line-height: 24px;
    font-family: "Mulish Bold";
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }

  &__subtitle {
    font-size: 16px;
    line-height: 26px;
  }

  &__text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    line-clamp: 6;
    overflow: hidden;
  }

  &__publish-info {
    font-size: 12px;
    line-height: 24px;

    &_bold {
      font-family: "Montserrat Bold";
    }
  }

  &__button {
    display: block;
    height: 50px;
    background-color: var(--black-1-color);
    text-decoration: none;
    color: var(--white-color);
    text-align: center;
    line-height: 50px;
    margin-bottom: 25px;
  }
}

// Анимация загрузки карточек
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  opacity: 50%;
  height: 160px;
  width: 160px;
  transform-origin: center;
  animation: spin 1.5s linear infinite;

  &__container {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease, max-height 0.3s ease;

    &_open {
      opacity: 1;
      max-height: 160px;
      transition: all 0.3s ease-in-out;
    }
  }
}
